body{
    margin: 0;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
}
.login-body {
    margin-top: 110px;
    width: 100%;
}
.login-window{
    display: flex;
    width: inherit;
}
.login-window .left-section{
    min-width: 33%;
}
.login-window .right-section{
    min-width: 66%;
}

.mobile-section {
    visibility: hidden;
}